<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Todo-List
    body
        h1 Demo Express / Mongoose TodoList
        ul(class="list")
            li(class="list-item")
                a(href="/") Home
            li(class="list-item")
                a(href="/add-todo") Add Todo
            li(class="list-item")
                a(href="/all-todos") All Todos
        block content
